<a href="<%= link %>" class="mdc-fab mdc-ripple-upgraded mdc-ripple-upgraded--foreground-activation add-button" data-mdc-auto-init="MDCRipple">
  <i class="mdc-fab__icon material-icons">
    add
  </i>
</a>