<div class="mdc-card__actions">
  <div class="mdc-card__action-buttons">
    <h2 class="reset m"><%= title %></h2>
  </div>
  <div class="mdc-card__action-icons">
    <a  href="<%= link %>" class="demo-button mdc-button mdc-button--raised mdc-ripple-upgraded mdc-ripple-upgraded--foreground-activation" style="">
      <i class="material-icons mdc-button__icon">arrow_back</i>Back To List
    </a>
  </div>
</div>